[Unit]
Description=DeepVocab Backend Server
Requires=kokecacao-gunicorn-pre.service
After=kokecacao-gunicorn-pre.service

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/home/ubuntu/dev/deep_vocab_backend
ExecStart=/usr/bin/zsh -c "source /home/ubuntu/miniconda3/etc/profile.d/conda.sh && conda activate web && /home/ubuntu/miniconda3/envs/deepvocab/bin/gunicorn --workers 1 --threads 8 --log-level debug --worker-class eventlet --bind unix:/home/ubuntu/dev/deep_vocab_backend/deepvocab.sock wsgi:app"

[Install]
WantedBy=kokecacao-gunicorn.service